* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#products-table {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main {
    min-width: 200px;
    width: 30vw;
    min-height: 250px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color:#d5c8ef;
}

input {
    width: 180px;
    height: 28px;
}

button {
    width: 180px;
    height: 28px;
    cursor: pointer;
    background-color: #cccccc;
    box-shadow: inset 3px 3px 5px #ffffff;
}

.icon-button {
    width: 28px;
    height: 28px;
}

.delete-button {
    background-color: #ff0000;
    box-shadow: inset 3px 3px 5px #ffffff;
}

.edit-button {
    background-color: #c8ff00;
    box-shadow: inset 3px 3px 5px #ffffff;
}

.done-button {
    background-color: #00ff00;
    box-shadow: inset 3px 3px 5px #ffffff;
}

table {
    width: 70vw;
}

th:nth-child(1) {
    width: 46vw;
}

th:nth-child(2) {
    min-width: 56px;
    width: 8vw;
}

th:nth-child(3) {
    min-width: 28px;
    width: 8vw;
}

th:nth-child(4) {
    min-width: 28px;
    width: 8vw;
}

th, td {
    text-align: center;
}